body {
    background-color: #f8f9fa;
}

.admin-nav {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #361401;
    color: white;
    width: 250px;
    overflow-y: auto;
    margin-right: 30px;
}

.admin-link {
    border: none;
}

.admin-link i {
    margin-right: 10px;
}

.card {
    border: none; 
    height: 100px;
    min-width: 180px;
    margin-bottom: 20px;
    }


.card-deck {
    display: flex;
    justify-content: space-between;
}

.card-header,
.list-group-item {
    background-color: #361401;
    color: white;
    border: none;
}

.card-header {
    color: white;
}
.card-deck {
flex-wrap: wrap;
}

.card {
margin: 10px;
}

.profile-image {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    object-fit: cover; 
    margin: 20px auto; 
    display: block; 
}
.list-group{
    font-size: 14px;
}
.navbar{
    background-color: #361401;
    margin-left: 250px;
    color: white;
}
.list-group-item {
color: white;
transition: all 0.3s ease-in-out; 
}

.list-group-item:hover {
color: gray;
background-color: #361401; 
}