 .card{
    width: 240px;
    box-shadow:2px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    border: none;   
    margin: 5px;
}  
 .card-img-top{
    width: 230px;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    max-width: 100%;        
}

.card-body{
    padding-top: 0.1rem;

}

 .card-text{
    font-size: 18px;
    font-weight: 500;
}
.btn-dark:hover{
    background-color: orange;
    border-color: orange;
    color: black;
    

}
.form-control{
    width: 500px;
    border-radius: 30px;
    margin-top: 30px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 450px;
    
}
